{% extends "base.html" %}
{% block head %}
{{ super() }}
   <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/blog.css" />
{% endblock %}
{% block content %}
<section id="content">
    <ol id="post-list">
    {% for article in articles_page.object_list %}
        <li>
            <article class="hentry">
                <header>
                    <h2 class="entry-title">
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                    </h2>
                </header>

                <p class="post-info">
                    Posté le <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                </p>

                <div class="entry-content">
                    {{ article.summary }}
                </div>

                <a class="button" href="{{ SITEURL }}/{{ article.url }}{% if not DISABLE_URL_HASH %}#{{ article.slug }}{% endif %}">
                    Continuer la lecture
                </a>
            </article>
        </li>
    {% endfor %}
    </ol><!-- /#posts-list -->
    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}
</section><!-- /#content -->
{% endblock content %}
