body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a, a:visited
{
    color: #436CA8;
    text-decoration: none;
}

a:hover, a:active
{
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6
{
    font-family: sans-serif;
    color: #436CA8;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
    color: inherit;
}

body > header
{
    height: 50px;
    font-size: 20px;

    background-color: #4344A5;
    background-image: linear-gradient(to right, #4344A5 0%, #438DAA 35%);
    color: white;
    margin: 0;
    padding: 0;

    display: flex;
    flex-shrink: 0;
}

body > header h1
{
    color: white;
}

body > header a
{
    color: white;
    display: inline-block;
    height: 100%;
    line-height: 50px !important;
    vertical-align: middle;
}

body > header a,     
body > header a:visited,
body > header a:hover,
body > header a:active 
{
    text-decoration: none;
}


body > header a:visited
{
    color: white;
}

body > header li.active a
{
    font-style: italic;
}

body > header a:hover
{
    background-color: rgb(46, 106, 179);
}

body > header h1,
body > header nav,
body > header ul
{
    font-size: inherit;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

body > header nav
{
    flex: auto;
}

body > header h1
{
    background-color: rgb(46, 106, 179);
    text-align: center;
    min-width: 150px;
    border-right: 1px solid white;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: auto 30px;
    background-position: 5px 10px;
    padding-left: 25px;
}

body > header nav
{
    display: flex;
}

body > header > nav *
{
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
}

body > header > nav ul:first-child
{
    flex: auto;
}

body > header > nav ul
{
    display: flex;
    padding: 0;
    margin: 0;
}

body > header > nav ul li
{
    padding: 0;
    text-align: center;
}

body > header > nav ul:first-child li
{
    width: 150px;
    border-right: 1px solid white;
}

body > header > nav ul.social li
{
    width: 50px;
    border-left: 1px solid white;
}

body > header ul li a
{
    width: 100%;
}

main
{
    flex: auto;
    padding-top: 1em;
}

main > *
{
    padding: 14px;
    max-width: 800px;
    margin: auto;
}

main h1
{
    font-size: 1.5em;
}

main p,
main ul
{
    line-height: 2em;
}

main > ul
{
    padding-left: 40px;
}

/* Home */

#homedesc
{
    margin-bottom: 2em;
    max-width: 1200px;
}

#homedesc img
{
     float: right;
     margin-left: 150px;
}

#homedesc p.download
{
    text-align: center;
    margin-top: 3em;
}

#homedesc a.button
{
    display: inline-block;
    width: 350px;
    background-color: #2E6AB3;
    color: white;
    border-radius: 5px;
    padding: 0.75em 1em;
    border: 1px solid #2E6AB3;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    box-sizing: border-box;
}

#homedesc a.button:hover
{
    color: #2E6AB3;
    background-color: white;
}

main > div.features
{
    overflow: auto;
    max-width: none;
    width: 100%;
    min-height: 100px;
    padding: 4em 0;
    background-color: #F1F6F8;
}

main > div.features:nth-child(even)
{
    background-color: transparent;
}

main > div.features > div
{
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}

main > div.features .screenshot
{
    width: 55%;
}

main > div.features .screenshot img
{
    width: 100%;
}

main > div.features
{
    clear: both;
}

main > div.features:nth-child(odd) .screenshot
{
    float: left;
    margin-right: 2em;
}

main > div.features:nth-child(even) .screenshot
{
    float: right;
    margin-left: 2em;
}

main .highlight
{
    padding: 0;
}

main .highlight pre
{
    padding: 14px;
}

body > footer
{
    padding: 10px 0;
    background-color: #444444;
    color: white;
    text-align: center;
}

body > footer p
{
    margin: 0;
}

body > footer a
{
    color: white;
}

.button
{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    background-color: #436CA8;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

a.button, a.button:visited, a.button:hover, a.button:active
{
    color: white;
}

.button:hover
{
    background-color: #438DAA;
    text-decoration: none;
}

@media (max-width: 768px)
{
    body > header,
    body > header nav
    {
        height: auto;
        flex-wrap: wrap;
        overflow: auto;
    }

    body > header h1,
    body > header nav > ul
    {
        border-bottom: 1px solid white;
    }

    body > header h1,
    body > header nav ul
    {
        width: 100%;
        height: inherit;
    }

    body > header nav ul li
    {
        flex: auto;
        width: auto !important;
    }

    body > header > nav ul:first-child li
    {
        font-size: 0.9em;
    }

    body > header nav ul.social li:first-child
    {
        border: 0;
    }

    #homedesc p.download a
    {
        width: 100%;
    }

    #homedesc img
    {
        margin: 0;
    }

    main > div.features
    {
        min-width: 100%;
        height: auto;
        padding-top: 0;
    }

    main > div.features .screenshot
    {
        width: 100%;
        margin-bottom: 1em;
    }

    main > div.features .screenshot ~ *
    {
        padding: 0.5em;
    }
}
